$text-color: hsl(219, 19%, 17%);
$background-color: hsl(0, 0%, 100%);

$bg-color2: linear-gradient(rgb(11, 26, 56), rgb(11, 26, 56));
$text-color2: hsl(220, 67%, 13%);

$bg-color3: hsl(219, 51%, 19%);
$text-color3: hsl(226, 25%, 80%);

$text-color4: hsl(226, 25%, 80%);

$card-color: hsl(216, 33%, 97%);

$gradient: linear-gradient(82deg, rgb(92, 92, 255), rgb(137, 96, 255) 98%);
