$color: blue;
$containerColor: #ff3;
$text-color: black;
$font-stack: Helvetica, sans-serif;
@use "sass:math";
body {
  //   background-color: $color;
  font: 100% $font-stack;
}

a {
  text-decoration: none;
}

// .container {
//   @include theme($theme-color: DarkRed);
//   background-color: $color;
// }

@mixin border-radius($size) {
  border-radius: $size;
}

@mixin theme($theme-color: DarkGray) {
  background: $theme-color;
  color: #fff;
}

.property {
  padding: 10px 10px;
}

.container {
  @include border-radius(20px);
  @extend .property;
  @include theme($theme-color: DarkRed);

  width: math.div(600px, 960px) * 100%;
}

.container:hover {
  background-color: lighten($text-color, 20%);
}

// Deep Nesting with Sass
.box {
  background-color: #fff;
  ul {
    list-style-type: none;
    display: flex;
    li {
      //   margin-left: 1rem;
      padding: 1rem;
      display: inline-block;
      a {
        color: $text-color;
      }
    }
    li:hover {
      background: rgba(#000000, 0.2);
      cursor: pointer;
      a {
        color: rgb(87, 77, 77);
      }
    }
  }
}

.btn {
  display: block;
  padding: 5px 10px;
  background-color: #003366;
}

.btn-default {
  @extend .btn;
  background-color: #0066cc;
  text-decoration: none;
  color: wheat;
}
