body {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(84, 212, 84);
  margin: 0 0;
  width: 100%;
  padding: 0 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 4rem;
  background-color: rgb(12, 245, 12);
  width: 90%;
  font-size: large;
  cursor: pointer;
  padding: 1rem;
  justify-content: center;
}

.main {
  display: flex;
  background-color: rgb(84, 212, 84);
  margin-top: 1rem;
  height: 50vh;
}

.content {
  /* float: left; */
  width: 70%;
  background-color: rgb(12, 245, 12);
  margin: 0.5rem;
  padding: 1rem;
}

.sidebar {
  width: 30%;
  background-color: rgb(12, 245, 12);
  margin: 0.5rem;

  /* float: right; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar img {
  width: 8rem;
}

footer {
  background-color: rgb(84, 212, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  height: 23.6vh;
}

footer p {
  background-color: rgb(12, 245, 12);
  padding: 1rem;
}
