$text-color: (
  primary: (
    100: "#ccccff",
    200: "#9999ff",
    300: "#6666ff",
    400: "#3333ff",
    500: "#0000ff",
    600: "#0000cc",
    700: "#000099",
    800: "#000066",
    900: "#000033",
  ),

  article: (
    100: "#ffcccc",
    200: "#ff9999",
    300: "#ff6666",
    400: "#ff3333",
    500: "#ff0000",
    600: "#cc0000",
    700: "#990000",
    800: "#660000",
    900: "#330000",
  ),
);
